@import 'reset';

.button {
    padding: 8px 20px;
    border: 0;
    border-radius: 8px;
    font-weight: 800;
    cursor: pointer;

    &.primary {
        background: #8110c2;
        color: #fff;

        &:hover {
            background-color: #6e09a8;
        }
    }

    &.danger {
        background: rgb(218, 49, 27);
        color: #fff;

        &:hover {
            background-color: rgb(172, 33, 15);
        }
    }
}

.container {
    width: 80%;
    height: 100%;
    margin: auto;
}

.form-control {
    width: 100%;
    height: 50px;
    border: 0;
    outline: 0;
    padding: 0 15px;
    border-radius: 8px;
    font-size: 18px;

    &:focus {
        background: #1c54bd;
        color: #fff;

        &::placeholder {
            color: rgb(204, 204, 204);
        }
    }
}

.number-block {
    margin-top: 10px;

    input {
        border: 1px solid #000;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.fn {
    text-align: right;
}

#response {
    border: 1px solid #dedede;
    padding: 20px;
    margin-top: 20px;
    display: none;

    &.active {
        display: block;
    }

    &.fail {
        >span {
            color: red;
        }
    }

    >span {
        font-size: 30px;
        font-weight: 700;
        color: blue;
    }
}